@import '../../styles.scss';

.movie-card-xs,
.movie-card-md {
    border-radius: 5px;
    cursor: pointer;
}

.movie-card-xs {
    background: #dcdcdc;;
    text-align: center;
}

.movie-poster-xs img {
    max-height: 256px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.movie-poster-md img {
    border-radius: 5px 0 0 5px;
}

.movie-description-xs,
.movie-description-md {
    padding: 20px;
    background: white;
}

.movie-description-xs {
    border-radius: 0 0 5px 5px;
}

.movie-description-md {
    border-radius: 0 5px 5px 0;
}